body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .app-container {
    flex-grow: 1;
  }
  
  .navbar {
    background-color: #8B0000;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    margin-bottom: 100px;
  }
  
  .navbar-brand {
    font-size: 32px;
    font-weight: bold;
  }
  
  .brand-link {
    color: #fff;
    text-decoration: none;
  }
  
  .brand-link:hover {
    text-decoration: underline;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .nav-link {
    margin-right: 15px;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link:last-child {
    margin-right: 0;
  }
  
  .nav-link a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-button-contrast {
    background-color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
  }

  .category-list {
    display: flex;
    flex-direction: column;
  }  

  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .image-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filtered-search-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .filtered-search-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
  }


  
  